.container {
    z-index: 22;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.innerContainer {
    display: flex;
}
.button {
    height: 40px;
    background-color: #949be3;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}
.select {
    background-color: #949be3;
    outline: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}