.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #171717;
}
.head {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.list {
  width: 100%;
  height: calc(100% - 200px);
  overflow-y: scroll;
}
.list::-webkit-scrollbar{
  display: none;
}



.zaalSearchContainer {
  width: calc(100% - 400px);
  border: 1px solid #949BE3;
  border-radius: 5px;
  display: flex;
}
.zaalButtonContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 360px;
}
.zaalButton {
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  outline: none;
  color: white;
  cursor: pointer;
}
.zaalButton:hover {
  color: #949BE3;
}
.zaalSearch {
  width: 100%;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.sporthalls::-webkit-scrollbar{
  display: none;
}
.zaalContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.zaal {
  width: 200px;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  background-color: #171717;
  color: white;
  box-shadow: 0 1px 4px 0px rgb(148, 155, 227, 0.25);
}
.zaalTitle {
  width: calc(100% - 90px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addZaalButton {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #949BE3;
  outline: none;
  border-radius: 50%;
  background-color: #171717;
  color: #949BE3;
  box-shadow: 0px 8px 15px rgb(148, 155, 227, 0.2);
}


@media (max-width: 768px) {
  .zaal {
    width: 98%;
    height: 40px;
  }
}


