.button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #949be3;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.container {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #171717;
  border-radius: 5px;
  margin-bottom: 10px;
}
.imgContainer {
  position: relative;
}
.image {
  max-width: 640px;
  max-height: 480px;
}
.field {
  width: 100%;
  position: relative;
}
.label {
  text-transform: uppercase;
  color:white;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}
.closeBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}