.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: transparent;
}
.head {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.list {
  width: 100%;
  height: calc(100% - 200px);
  overflow-y: scroll;
}
.list::-webkit-scrollbar{
  display: none;
}
.backButtonContainer {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.backButton {
  width: 50px;
  height: 35px;
  color: white;
  background-color: #1E1E1E;
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.backButton:hover {
  color: #949BE3;
}
.items {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 5px 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.name {
  width: 160px;
  font-size: 14px;
}
.name:hover {
  color: #949BE3;
}
.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
}
.button:hover {
  color: #949BE3;
}
.headContainer {
  width: 100%;
  padding: 0 5px 0 20px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  border: 1px solid #949BE3;
}
.input {
  width: 100%;
  border: none;
  background: none;
  padding: 2px 5px;
  outline: none;
  color: white;
  font-size: 14px;
}
.districtTitle {
  border: 1px solid red;
  width: 100%;
  height: 40px;
}
.group {
  display: flex;
  width: 90px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.editContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 5px 0 20px;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.editInput{
  width: 160px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.icon {
  width: 80%;
  height: 80%;
}







.zaalControlContainer {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
}
.zaalHeadContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 20px;
}
.zaalSearchContainer {
  width: calc(100% - 400px);
  border: 1px solid #949BE3;
  border-radius: 5px;
  display: flex;
}
.zaalButtonContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 360px;
}
.zaalButton {
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  outline: none;
  color: white;
  cursor: pointer;
}
.zaalButton:hover {
  color: #949BE3;
}
.zaalSearch {
  width: 100%;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.sporthalls {
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 10px;
  position: relative;
  overflow-y: scroll;
  border-radius: 10px;
}
.sporthalls::-webkit-scrollbar{
  display: none;
}
.zaalContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.zaal {
  width: 48%;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  background-color: #171717;
  color: white;
  box-shadow: 0 1px 4px 0px rgb(148, 155, 227, 0.25);
}
.zaalTitle {
  width: calc(100% - 90px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addZaalButton {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #949BE3;
  outline: none;
  border-radius: 50%;
  background-color: #171717;
  color: #949BE3;
  box-shadow: 0px 8px 15px rgb(148, 155, 227, 0.2);
}


