body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.notification-enter-active {
  transform: translateX(-110%);
  transition: transform 300ms;
}
.notification-enter-done {
  transform: translateX(-110%);
}
.notification-exit {
  transform: translateX(-110%);
}
.notification-exit-active {
  transform: translateX(0%);
  transition: all 300ms;
}

.btn-enter {
  border: 2px solid #949be3;
}
.btn-enter-active {
  border: 2px solid #949be3;
  transition: all 100ms;
}
.btn-enter-done {
  border: 2px solid #949be3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #1e1e1e !important;
}
