* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #1e1e1e !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #949be3;
}


/* tagDropdown */


.tagDropdown-enter {
  height: 200px;
  border: 1px solid #949be3;
  border-top: none;
  opacity: 1;
}
.tagDropdown-enter-active {
  height: 0;
  opacity: 0;
  border:none;
  transition: all 200ms;
}
.tagDropdown-enter-done {
  height: 0;
  opacity: 0;
  border: none;
}
.tagDropdown-exit {
  height: 0;
  opacity: 0;
  border: none;
}
.tagDropdown-exit-active {
  height: 200px;
  opacity: 1;
  border: 1px solid #949be3;
  transition: all 200ms;
  border-top: none;
}
.tagDropdown-exit-done {
  height: 200px;
  opacity: 1;
  border: 1px solid #949be3;
  border-top: none;
}
.tagDropdown-appear {
  height: 0;
  opacity: 0;
  border: none;
}
.tagDropdown-appear-done {
  height: 0;
  opacity: 0;
  border: none;
}
.tagDropdown-appear-active {
  height: 0;
  opacity: 0;
  border: none;
  transition: all 200ms;
}



/* Notification transition */


.notification-enter-active {
  transform: translateX(-110%);
  transition: transform 300ms;
}
.notification-enter-done {
  transform: translateX(-110%);
}
.notification-exit {
  transform: translateX(-110%);
}
.notification-exit-active {
  transform: translateX(0%);
  transition: all 300ms;
}


/* Sidebar Transition */


.subSidebar-enter {
  width: 300px;
}
.subSidebar-enter-active {
  width: 0;
  transition: 200ms;
}
.subSidebar-enter-done {
  width: 0;
}
.subSidebar-exit {
  width: 0;
}
.subSidebar-exit-active {
  width: 300px;
  transition: 200ms;
}
.subSidebar-exit-done {
  width: 300px;
}
.subSidebar-appear {
  width: 0;
}
.subSidebar-appear-done {
  width: 0;
}
.subSidebar-appear-active {
  width: 0;
}


/* Sidebar Transition on Phone */


@media (max-width: 480px) {
  .subSidebar-enter {
    width: calc(100vw - 50px);
    border-left: 1px solid rgb(148, 155, 227, 0.1);
  }
  .subSidebar-enter-active {
    width: 0;
    border-left: 1px solid rgb(148, 155, 227, 0.1);
    transition: 200ms;
  }
  .subSidebar-enter-done {
    width: 0;
  }
  .subSidebar-exit {
    width: 0;
    border-left: 1px solid rgb(148, 155, 227, 0.1);
  }
  .subSidebar-exit-active {
    width: calc(100vw - 50px);
    border-left: 1px solid rgb(148, 155, 227, 0.1);
    transition: 200ms;
  }
  .subSidebar-exit-done {
    width: calc(100vw - 50px);
    border-left: 1px solid rgb(148, 155, 227, 0.1);
  }
  .subSidebar-appear {
    width: 0;
  }
  .subSidebar-appear-done {
    width: 0;
  }
  .subSidebar-appear-active {
    width: 0;
  }
}
